doctype html
html 
    include ../components/head
    body
        header
            h1 Welcome #{username} !
            a(href="/room/new") Create new rooom
        main
            section.room-list-section
                h3.room-list-section-heading My rooms :
                ul.rooms-list
                    each item in userRooms
                        - const room = item.room
                        - const createAt = new Date( room.createAt ).toLocaleString();
                        li( id= room.ro_id class="myroom-list-item")
                            h4.room-name= room.ro_name
                            time.room-create-at= createAt

                        

    