doctype html
html 
    include components/head

    body
        main
            h1 register page
            section
                form( class='register-form' )
                    label(for="username") Username :
                        input(type="name", name="username" id='username')
                    label(for="email") Email :
                        input(type="email", name="email" id='email')
                    label(for="password") Password :
                        input(type="password" name="password" id='password')
                    label(for="password-confirmation") Password :
                        input(type="password" name="password" id='password-confirmation')
                    button(type="submit") Submit!

        script( type="module" src="/js/services/register.js" charset="utf-8" defer) 

