doctype html
html 
    include components/head

    body
        h1 register page
        main
            section
                form( class='register-form' )
                    label(for="username") Username :
                        input(type="name", name="username" class='username')
                    label(for="email") Email :
                        input(type="email", name="email" class='email')
                    label(for="password") Password :
                        input(type="password" name="password" class='password')
                    button(type="submit") Submit!

                script( type="module" src="/js/services/register.js" charset="utf-8" defer) 

