doctype html
html 
    include components/head

    body
        main
            h1.register-title register page
            section
                form( id="register-form" class="form-style")
                    div.input-container
                        label(for="username") Username :
                            br
                            input(type="name", name="username" id='username')
                            p.wrong-input-msg
                    div.input-container
                        label(for="email") Email :
                            br
                            input(type="email", name="email" id='email')
                            p.wrong-input-msg
                    div.input-container
                        label(for="password") Password :
                            br
                            input(type="password" name="password" id='password')
                            p.wrong-input-msg
                    div.input-container
                        label(for="password-confirmation") Password Confirmation :
                            br
                            input(type="password" name="password" id='password-confirmation')
                            p.wrong-input-msg
                    button(type="submit" class="btn-submit") Submit!

        script( type="module" src="/js/services/register.js" charset="utf-8" defer) 

